<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/jquery.tagsinput.css" />
<link rel="stylesheet" type="text/css" href="../static/css/mysidebar.css" />

<html>
<head><title>FijiBook Charts</title></head>
<body data-spy="scroll" data-target="#sidebar">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
                <a class="navbar-brand" href="#">FijiBook</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/FBAAIndex">AA记账</a></li>
                    <li class="active"><a href="#">账单</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="user" href="#user">{{user}}</a></li>
                    <li class="active"><a href="/logout">注销</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron" id="content" tabindex="-1">
        <div class="container">
            <!--<div class="container theme-showcase" role="main">-->
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <!--<div class="jumbotron">-->
                        <h1>账单详情</h1>
                        <p>我的账单美美哒，快分享到朋友圈吧 ~</p>
                    <!--</div>-->
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
    <div class="container">
       <div class="row">
           <div class="col-md-9 col-xs-12" role="main">
               <!--月账单-->
               <h1 id="monthBill">月账单</h1>
               <!--条形图-->
               <!--<h2 id="monthBar">月账单条形图</h2>-->
               <!--<div id="monthBarChart" style="height:700px"></div>-->
               <!--圆饼图-->
               <h2 id="monthPie">月账单结构饼图</h2>
               <h3>支出结构</h3>
               <div id="monthPieChart" style="height:500px"></div>
               <h3>收入结构</h3>
               <div id="monthInPieChart" style="height:500px"></div>

               <!--总账单-->
               <h1 id="allBill">总账单</h1>
               <!--条形图-->
               <h2 id="allBar">总账单条形图</h2>
               <div id="allBarChart" style="height:700px"></div>
               <!--圆饼图-->
               <h2 id="allPie">总账单结构饼图</h2>
               <h3>支出结构</h3>
               <div id="allPieChart" style="height:500px"></div>
               <h3>收入结构</h3>
               <div id="allInPieChart" style="height:500px"></div>
               <!--热力图-->
               <h1 id="heat">热力图</h1>
               <div id="maps" style="height:400px;width:100%"></div>

               <!--总账单table-->
               <h1 id="allTable">总账单详情</h1>
               <div class="table-responsive">
                    <table class="table table-striped">
                        <thead >
                            <tr >
                                {% for i in thead %}
                                    <th >{{i}}</th>
                                {% end %}
                            </tr>
                        </thead>
                            {% for j in tbody %}
                                <tbody id="recordsTb">
                                    <tr>
                                        {% for j1 in j[0:6] %}
                                            <td>{{j1}}</td>
                                        {% end %}
                                        {% for j2 in j[6:8] %}
                                            <td class="hidden">{{j2}}</td>
                                        {% end %}
                                    </tr>
                                </tbody>
                            {% end %}
                    </table>
               </div>
           </div>
           <div class="col-md-3" role="complementary">
                <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="sidebar">
                    <ul class="nav bs-docs-sidenav">
                        <li id="monthBillSideBar" class="">
                            <a href="#monthBill">月账单</a>
                                <ul class="nav">
                                    <!--<li class=""><a href="#monthBar">条形图</a></li>-->
                                    <li class=""><a href="#monthPieChart">饼图-支出</a></li>
                                    <li class=""><a href="#monthInPieChart">饼图-收入</a></li>
                                </ul>
                        </li>
                        <li id="allBillSideBar" class="">
                            <a href="#allBill">总账单</a>
                                <ul class="nav">
                                    <li class=""><a href="#allBar">条形图</a></li>
                                    <li class=""><a href="#allPieChart">饼图-支出</a></li>
                                    <li class=""><a href="#allInPieChart">饼图-收入</a></li>
                                </ul>
                        </li>
                        <li class="">
                            <a href="#heat">热力图</a>
                        </li>
                        <li class="">
                            <a href="#allTable">详情列表</a>
                        </li>
                    </ul>
                    <a class="back-to-top" href="#top">
                      返回顶部
                    </a>

                </nav>
            </div>

       </div>
        <hr />
        <footer>
            <p>FijiBook 2016</p>
        </footer>
    </div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script src="../static/js/ajax-setup.js"></script>
<script src="../static/js/ChartInit.js"></script>
<script src="../static/js/heatmap.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=XGvfZRcqMC056a6GSpg81vIO"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>


</html>

<script type="text/javascript">
    $(document).ready(function(){pageOnLoad();});
    var allPieChart = echarts.init(document.getElementById('allPieChart'));
    var allInPieChart = echarts.init(document.getElementById('allInPieChart'));
    var allBarChart = echarts.init(document.getElementById('allBarChart'));
    var monthPieChart = echarts.init(document.getElementById('monthPieChart'));
    var monthInPieChart = echarts.init(document.getElementById('monthInPieChart'));

    function pageOnLoad(){
        //console.info($("tbody"));
        //从表格中提取数据
        var trs=$("tbody").children();
        var topData=GetTopData(trs);
        var subData=GetSubData(trs);
        var points=GetPoints(trs);
        //图表初始化
        ChartInit();
        MapInit([{"lng":116.418261,"lat":39.921984,"count":0}]);
        if (subData.length!=0&&topData.length!=0&&points.length!=0)
        {
            //热力图展示
            //console.info(points)
            MapInit(points);

            //设置图表
            var barTmp=GetBarData(topData,subData);
            barData=barTmp[0];
            yData=barTmp[1];
            subLegend=barTmp[2];
            allBarOption.legend['data']=subLegend;
            allBarOption.yAxis[0]['data']=yData;
            allBarOption.series=barData;
            allBarChart.hideLoading();
            allBarChart.setOption(allBarOption);

            var pieTmp=GetPieData(topData,subData);
            subOut=pieTmp[0];
            subIn=pieTmp[1];
            legend=pieTmp[2];
            allPieoption.legend['data']=legend;
            allPieoption.series[0]['data']=topData;
            allPieoption.series[1]['data']=subOut;
            allPieChart.hideLoading();
            allPieChart.setOption(allPieoption);

            allInPieOption.series[0]['data']=subIn;
            allInPieChart.hideLoading();
            allInPieChart.setOption(allInPieOption);

            var timeLineTmp=CreateTimeLineTrs(trs);
            timeLine=timeLineTmp[0].reverse();
            timeLineTrs=timeLineTmp[1].reverse();
            //console.info(timeLineTrs,timeLine);
            SetMonthPieOption(timeLine,timeLineTrs,legend);
            monthPieChart.hideLoading();
            //console.info(monthPieOption);
            monthPieChart.setOption(monthPieOption);
            monthInPieChart.hideLoading();
            monthInPieChart.setOption(monthInPieOption);
        }
    }
</script>
<!-- //从表格中提取数据 topdata里面只有支出 subdata有支出也有收入-->
<script type="text/javascript">
    function GetTopData(trs){
        var topData=new Array();
        var j=0;
        var exist;
        $.each(trs,function(i,tr){
            exist=false;
            td=$(tr).children();
            //console.info(td);
            time=td['0'].innerHTML;
            if (time!=='No Record!')
            {
                mylocation=td['1'].innerHTML;
                money=-Number(td['2'].innerHTML);
                topType=td['3'].innerHTML;
                subType=td['4'].innerHTML;
                remark=td['5'].innerHTML;
                //console.info(money)
                $.each(topData,function(k,item){
                    if(topType==item['name']){
                        topData[k]['value']+=money;
                        exist=true;
                    }
                });
                if(!exist&&money>0){
                    topData[j]={value:money, name:topType};
                    //console.info(topData)
                    //console.info(money)
                    j++;
                }
            }
        });
        //console.info(topData)
        return topData;
    }

    function GetSubData(trs){
        var subData=new Array();
        var insert=0;
        var exist;
        $.each(trs,function(i,tr){
            exist=false;
            td=$(tr).children();
            //console.info(td);
            time=td['0'].innerHTML;
            if (time!=='No Record!')
            {
                mylocation=td['1'].innerHTML;
                money=Number(td['2'].innerHTML);
                topType=td['3'].innerHTML;
                subType=td['4'].innerHTML;
                remark=td['5'].innerHTML;
                lng=td['6'].innerHTML;
                lat=td['7'].innerHTML;
                $.each(subData,function(k,item){
                    if(subType==item['name']){
                        subData[k]['value']+=money;
                        exist=true;
                        insert=0;
                        return false;
                        //console.info(money)
                    }
                    else if(topType==item['topName']){
                        insert=k+1;
                        //console.info(item)
                        //console.info({value:money, name:subType, topName:topType})
                    }
                });
                if(!exist){
                    if(insert!=0){
                        subData.splice(insert,0,{value:money, name:subType, topName:topType});
                        //console.info({value:money, name:subType, topName:topType})
                        //console.info(insert)
                        insert=0;
                    }
                    else {
                        subData.push({value:money, name:subType, topName:topType});
                    }
                    //console.info(money)
                    //console.info(subData)
                }
            }
        });
        //console.info(subData)
        if (subData.length!=0)
        {
            $.each(subData,function(k,item){subData[k]={name:item['name'],value:item['value']}});
        }
        return subData;
    }

    function GetPoints(trs){
        var points=new Array();
        $.each(trs,function(i,tr){
            td=$(tr).children();
            //console.info(td);
            time=td['0'].innerHTML;
            if (time!='No Record!')
            {
                money=Number(td['2'].innerHTML);
                lng=td['6'].innerHTML;
                lat=td['7'].innerHTML;
                points.push({lng:lng,lat:lat,count:money});
            }
        });
        return points;
    }
</script>
 <!--topdata subdata数据转换-->
<script type="text/javascript">
    //数据转换1 pieChart
    function GetPieData(topData,subData){
        var subOut=new Array();
        var subIn=new Array();
        var legend=new Array();
        legend.push('大类');
        $.each(topData,function(i,item){
            legend.push(item['name']);
        });
        legend.push('小类');
        $.each(subData,function(i,item){
            //console.info(item)
            if(item['value']<0){
                subOut.push({name:item['name'],value:-item['value']});
                legend.push(item['name']);
            }
            else if(item['value']>0){
                subIn.push(item);
            }
        });
        return [subOut,subIn,legend];
    }

    //数据转换2 barChart
    function GetBarData(topData,subData){
        var barData=new Array();
        var subLegend=new Array();
        var yData=new Array();
        var barSeries;
        var positionFlag=0;
        var tmp=0;
        //console.info(topData)
        $.each(topData,function(i,item){
            yData.push(item['name']);
        });
        yData.push('收入');
        $.each(topData,function(j,top){
            var topFlag=0;
            //console.info(j);
            for(i=tmp;i<subData.length;i++)
            {
                tmp++;
                item=subData[i];
                if(item['value']<0){
                    topFlag-=item['value'];
                    //console.info('topflag:'+topFlag);
                    //console.info('topvalue:'+top['value']);
                    barSeries={
                        name:item['name'],
                        type:'bar',
                        stack: '总量',
                        itemStyle : { normal: {label : {show: true, position: 'insideLeft'}}},
                        data:[]
                    }
                    for (k=0;k<positionFlag;k++){barSeries['data'].push(0);}
                    barSeries['data'].push(-item['value']);
                    for (k=positionFlag;k<yData.length-1;k++){barSeries['data'].push(0);}
                    barData.push(barSeries);
                    if (topFlag==top['value']){positionFlag++;break;}
                }
            }
        });
        for(i=0;i<subData.length;i++)
            {
                item=subData[i];
                subLegend.push(item['name']);
                if(item['value']>0){
                    barSeries={
                        name:item['name'],
                        type:'bar',
                        stack: '总量',
                        itemStyle : { normal: {label : {show: true, position: 'insideLeft'}}},
                        data:[]
                    }
                    for (k=0;k<yData.length-1;k++){barSeries['data'].push(0);}
                    barSeries['data'].push(item['value']);
                    barData.push(barSeries);
                }
            }
        return [barData,yData,subLegend];
    }
</script>
<!-- 创建时间线数组-->
<script type="text/javascript">
    function CreateTimeLineTrs(trs){
        var timeLineTrs=new Array();
        var timeLine=new Array();
        var trsTmp=new Array();
        var dateTmp="1990-01-01";
        var j=-1;
        //timeLineTrs[0]=new Array();
        //将trs按月分组（trs是按时间排序的）
        $.each(trs,function(i,tr){
            td=$(tr).children();
            dateTimeStr=td['0'].innerHTML;
            dateStr=dateTimeStr.slice(0,7);
            if (Date.parse(dateStr)!=Date.parse(dateTmp))
            {
                j++;
                timeLine[j]=dateStr+'-01';
                timeLineTrs[j]=new Array();
                dateTmp=dateStr;
            }
            timeLineTrs[j].push(tr);
        });
        return [timeLine,timeLineTrs];
    }

    function SetMonthPieOption(timeLine,timeLineTrs,legend){
        monthPieOption.timeline['data']=timeLine;
        monthInPieOption.timeline['data']=timeLine;
        var topTmp=new Array();
        var subOutTmp=new Array();
        var subInTmp=new Array();
        var flag=false;
        $.each(timeLineTrs,function(i,trs){
            topDataTL=GetTopData(trs);
            subDataTL=GetSubData(trs);
            pieTmp=GetPieData(topDataTL,subDataTL);
            subOutTL=pieTmp[0];
            subInTL=pieTmp[1];
            topLength=topDataTL.length;
            subOutLength=subOutTL.length;
            subInLength=subInTL.length;
            if (i==0){
                topTmp=topDataTL;
                subOutTmp=subOutTL;
                subInTmp=subInTL;
                monthPieOption.options[0].legend['data']=legend;
                //monthInPieOption.options[0].legend['data']=legend;
                monthPieOption.options[0].series[0]['data']=topDataTL;
                monthPieOption.options[0].series[1]['data']=subOutTL;
                monthInPieOption.options[0].series[0]['data']=subInTL;
            }
            else {
                $.each(topTmp,function(i,top){
                    flag=false;
                    for(j=0;j<topLength;j++){
                         if (topDataTL[j]['name']==top['name']){
                            flag=true;
                        }
                    }
                    if(flag==false){
                        topDataTL.push({name:top['name'],value:0});
                    }
                });
                $.each(subOutTmp,function(i,sub){
                    flag=false;
                    for(j=0;j<subOutLength;j++){
                         if (subOutTL[j]['name']==sub['name']){
                            flag=true;
                        }
                    }
                    if(flag==false){
                        subOutTL.push({name:sub['name'],value:0});
                    }
                });
                $.each(subInTmp,function(i,sub){
                    flag=false;
                    for(j=0;j<subInLength;j++){
                         if (subInTL[j]['name']==sub['name']){
                            flag=true;
                        }
                    }
                    if(flag==false){
                        subInTL.push({name:sub['name'],value:0});
                    }
                });
                monthPieOption.options.push(
                    {
                        series:[
                            {name:'消费大类',type:'pie',data:topDataTL},
                            {name:'消费小类',type:'pie',data:subOutTL}
                        ]
                    }
                );
                monthInPieOption.options.push(
                    {
                        series:[
                            {name:'收入',type:'pie',data:subInTL},
                        ]
                    }
                );
                topTmp=topDataTL;
                subOutTmp=subOutTL;
                subInTmp=subInTL;
            }
        });
    }
</script>